@using TeamProject.Clients.WebUI.Common.Pagination
@using TeamProject.Clients.WebUI.Common.Pagination.Models.ViewModels
@*@model TeamProject.Clients.WebUI.Common.Pagination.Models.ViewModels._ActorsBindingModelViewModel*@
@model ActorsBindingModelViewModel

<p>
    <a asp-action="AddActor" class="btn btn-dark">Create New</a>
</p>
<div class="row mt-3">
    <div class="offset-md-2"></div>
    <div class="col-md-8">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>
                        @Html.DisplayName("Name")
                    </th>
                    <th>
                        @Html.DisplayName("Last Name")
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.EntitiesPerPage)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ActorId }, new { @class = "btn btn-info" })
                            @Html.ActionLink("More", "More", new { id = item.ActorId }, new { @class = "btn btn-info" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.ActorId }, new { @class = "btn btn-danger delete_item", id = item.ActorId })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="offset-md-2"></div>
</div>

<div class="pagination">
    @Html.PagingButtons(Model.PagingInfo)
    @*@(await Component.InvokeAsync<PagerViewComponent>(Model))*@
    @*<PagingTagHelper></PagingTagHelper>*@
</div>
